* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  background-color: #a1d2f5;
  width: 100%;
  height: 100vh;
  display: flex;
}

.header {
  display: flex;
  margin-top: 3%;
  justify-content: center;
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 24px;
}
.wrapper {
  width: 60%;
  height: 80%;
  background-color: #8bc5ef;
  margin: auto;
  border-radius: 70px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
}

.main {
  display: flex;
  margin-top: 3rem;
}

.logo {
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
}

.input_container {
  margin-top: 1.5rem;
  flex: 1;
  margin-left: 8%;
  padding-top: 3rem;
}

.logo img {
  width: 70%;
  height: 100%;
}

.input_container ul li {
  list-style: none;
}

.input_container li input {
  height: 3rem;
  width: 70%;
  padding-left: 5%;
  margin-bottom: 8%;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  background-color: #faf3f3;
}

input:focus {
  outline: none;
}

p {
  font-size: 16px;
}

.forgot_pw {
  margin-left: 10%;
}

.footer {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.confirm {
  padding-top: 2%;
  text-align: center;
  background-color: #05807d;
  width: 60%;
  height: 3rem;
  border-radius: 15px;
  text-decoration: none;
  display: inline-block;
  transition: 300ms;
  text-align: center;
  justify-items: center;
  display: inline-block;
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin-top: 1.5rem;
}

.confirm:hover {
  transform: translateY(-8px);
}
