.blogDetail_headerContainer {
  width: 1000px;
  margin: auto;
  margin-top: 10rem;
  height: auto;
}
.blogDetail_title {
  width: 850px;
  margin: auto;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 700;
}
.blogDetail_timeStamp {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}
.blogDetail_textContainer {
  width: 660px;
  margin: auto;
  margin-top: 2rem;
  height: auto;
}
.blogDetail_textContainer img {
  margin-bottom: 24px;
  width: 100%;
  object-fit: contain;
}
.blogDetail_textContainer p {
  margin-bottom: 24px;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: justify;
}
.blogDetail_strongText {
  margin-bottom: 24px;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: justify;
  font-weight: bold;
}
