.square {
  position: absolute;
  width: 300px;
  height: 100px;
  top: 300px;
  left: 300px;
  transition: height 0.5s;
  background-color: aqua;
  overflow: hidden;
}
.square:hover {
  height: 600px;
}
.child {
  height: 90px;
  width: 100%;
  background-color: red;
  z-index: -1;
}
