/* .pageWrapper {
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
} */

.cartContainer {
  width: 100%;
  height: 100%;
  margin-top: 9vh;
  padding: 0;
  background-color: whitesmoke;
  animation: fadeOut 0.5s ease;
}
/* empty cart */
.blankItemContainer {
  width: 100%;
  height: 91vh;
  background-color: whitesmoke;
  overflow: hidden;
}
.cartEmptyArea {
  margin-top: 9rem;
  width: 100%;
  height: 20rem;
}
.wrapper {
  width: 40rem;
  margin: auto;
  height: 100%;
}
.wrapper div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  margin-top: 1rem;
}
.wrapper div:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  margin: auto;
  width: 100%;
  padding: 2rem 0 2rem 0;
  margin-top: 2rem;
  border: 1px solid #288ad6;
  color: #288ad6;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
.cartEmptyIcon {
  font-size: 6rem;
  color: rgb(228, 34, 34);
}
/* empty cart */
.subNav {
  height: 4rem;
  width: 40rem;
  margin: auto;
  background-color: whitesmoke;
  display: flex;
  margin-bottom: 1rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1.3rem;
}
.subNav div:nth-child(1) {
  color: rgb(10, 98, 214);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subNav div:nth-child(2) {
  cursor: pointer;
}
.contentContainer {
  width: 40rem;
  display: block;
  margin: auto;
  flex-direction: column;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 0 18px rgb(0 0 0 / 12%);
  border-radius: 2px;
}

.temporaryTotalMoneyArea {
  height: 5rem;
  width: 90%;
  padding: 2% 5% 2% 5%;
  border-bottom: 1px solid #888888;
}
.totalItems {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.totalItems span {
  font-weight: bold;
}
.tempMoney {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 550;
}
.tempMoney div:nth-child(2) {
  color: red;
}
.userInfo {
  width: 90%;
  padding: 2% 5% 2% 5%;
}
.title {
  font-size: 1.5rem;
}
.form {
  width: 100%;
  margin-top: 2rem;
}
.form input,
textarea {
  font-size: 1rem;
}
.name_address {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fillname {
  display: flex;
  flex-direction: column;
}
.name_address input {
  border: 1px solid #d1d1d1;
  overflow: hidden;
  background-color: white;
  height: 2rem;
  width: 16rem;
  padding: 5px 10px 5px 10px;
  box-sizing: border-box;
  border-radius: 4px;
}
.name_address input:focus {
  border: 1px solid #fc9639;
  box-shadow: 0 0 4px #fc9639;
}
.fillname span {
  display: block;
  overflow: hidden;
  padding-top: 12px;
  color: #dd4b39;
  font-size: 15px;
}
.email {
  margin-top: 1rem;
  border: 1px solid #d1d1d1;
  height: 2rem;
  width: 100%;
  background-color: white;
  padding: 5px 10px 5px 10px;
  box-sizing: border-box;
  border-radius: 4px;
}
.emailContainer input:focus {
  border: 1px solid #fc9639;
  box-shadow: 0 0 4px #fc9639;
}
.emailContainer span {
  display: block;
  overflow: hidden;
  padding-top: 12px;
  color: #dd4b39;
  font-size: 15px;
}
.addressContainer {
  display: flex;
  flex-direction: column;
}
.addressContainer textarea {
  border: 1px solid #d1d1d1;
  background-color: transparent;
  padding: 5px 10px 5px 10px;
  resize: none;
  outline: none;
  margin-top: 1rem;
}
.addressContainer textarea:focus {
  border: 1px solid #fc9639;
  box-shadow: 0 0 4px #fc9639;
}
.addressContainer span {
  display: block;
  overflow: hidden;
  padding-top: 12px;
  color: #dd4b39;
  font-size: 15px;
}
.finalTotal {
  width: 90%;
  margin-top: 1rem;
  height: 10rem;
  padding: 5% 5% 5% 5%;
  border-top: 1px solid #888888;
}
.totalMoney {
  width: 100%;
  height: 100%;
}
.money {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}
.money div:nth-child(2) {
  color: red;
}
.bttn {
  width: 100%;
  height: 40%;
  background-color: rgb(10, 98, 214);
  color: #fff;
  margin: 10px auto;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  background: linear-gradient(180deg, #f79429, #f7712e);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-transform: uppercase;
}
.bttn:hover {
  background: linear-gradient(180deg, #fc8e19, #f75e12);
}
.footer {
  height: 8rem;
}
@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
