.reviewSection {
  width: 63%;
  margin: auto;
  margin-top: 5rem;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 550;
  color: red;
}
