* {
  margin: 0;
}
.App {
  height: calc(100vh - 6rem);
  width: 100%;
  font-family: "Helvetica", sans-serif;
  background-color: #a1d2f5;
  margin-top: 6rem;
  display: flex;
  overflow-y: hidden;
}
.pageWrapper {
  width: 120rem;
  height: 55rem;
  margin: auto;
}
.slo_auth_post {
  display: flex;
  flex-direction: row;
  height: 70%;
}

.greenScreen {
  background-color: #a1d2f5;
}
@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 760px) {
  .slo_auth_post {
    display: flex;
    flex-direction: column;
  }
}
