* {
  margin: 0;
}
.App {
  height: 100vh;
  width: 100%;
  background-color: #a1d2f5;
  font-family: "Roboto", sans-serif;
  background-color: #a1d2f5;
}
.slo_auth_post {
  display: flex;
  flex-direction: row;
  height: 80%;
}
.slo_auth {
  flex: 1;
}
.posts {
  flex: 1;
  height: 100%;
}
.img {
  width: 100px;
  height: 100px;
}
/* a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: inline-block;
  transition: 300ms;
}
a:hover {
  transform: scale(1.3);
  opacity: 1;
} */
