.Post_Wrapper {
  width: 35rem;
  height: 26rem;
  background-color: #8bc5ef;
  margin: auto;
  margin-top: 6rem;
  border-radius: 40px;
  border: 1px solid black;
}

.imagePost {
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 99 !important;
  object-fit: cover;
}

.backgroundHolderForImages {
  display: flex;
  margin-top: 1rem;
  margin-left: 1.5rem;
  position: absolute;
  width: 27rem;
  background-color: #dcdcdc;
  border-radius: 40px;
  height: 23.5rem;
  border: 1px solid black;
}
.changeChanel {
  margin-top: 1rem;
  margin-left: 30rem;
  display: flex;
  width: 5rem;
  height: 23.5rem;
  flex-direction: column;
}

.buttonChangeChanel,
.buttonChangeChanel1 {
  border: 1px solid black;

  cursor: pointer;
  margin-top: 1rem;
  width: 70%;
  height: 15%;
  background-color: #dcdcdc;
  border-radius: 100%;
}

.buttonChangeChanel1 {
  margin-top: 3rem;
}

/* antenna */

.antenna1 {
  display: flex;
  margin-left: 10rem;
  width: 6rem;
  height: 7px;
  background-color: #dcdcdc;
  transform: rotate(40deg);
}

.antenna2 {
  display: flex;
  margin-left: 12rem;
  width: 10rem;
  height: 7px;
  background-color: #f1e9e9;
  transform: rotate(135deg);
}

/* animation */
.ChangeEffect {
  animation: OpacityChange 400ms ease-in;
}

@keyframes OpacityChange {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
