.post {
  height: 100%;
  width: 100%;
  margin-top: 2%;
}
.image_container {
  width: 70%;
  height: 70%;
  background-color: #8bc5ef;
  border-radius: 5%;
  display: flex;
  justify-content: center;
}
.hero_image {
  padding-top: 4rem;
  width: 450px;
  height: 400px;
}
.hero_image img {
  transition: 300ms;
}
.hero_image img:hover {
  transform: scale(1.1);
}
.item {
  width: 100%;
  height: 250px;
}
.imgs {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 5%;
}
