.slogan {
  flex: 1;
}
.styleTheSlogan {
  margin-top: 15%;
  margin-left: 20%;
}
h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 30px;
  color: #000000;
  margin-bottom: 45px;
}
p {
  font-weight: normal;
  font-size: 25px;
  color: #000000;
  width: 489px;
  margin-bottom: 75px;
}
.slog {
  font-size: 1.7rem;
}
.auth {
  display: flex;
  margin-left: 20%;
}
.sign_in,
.sign_up {
  width: 25%;
  height: 10vh;
  color: #ffffff;
  font-size: 20px;
  background: #05807d;
  border-radius: 15px;
  transition: 300ms;
  margin-top: 25%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign_up {
  margin-left: 10%;
}
.sign_in:hover,
.sign_up:hover {
  transform: translateY(-8px);
}
