.container {
  width: min(90%, 94rem);
  height: 100vh;
  margin: auto;
  animation: fadeIn 1s ease;
}

/* animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* wrapper */
.wrapper {
  width: 80%;
  margin: auto;
  height: 60rem;
  display: flex;
}

/* left */

.product_img {
  width: 40%;
  text-align: center;
  justify-content: center;
}
.img_show {
  margin-top: 2rem;
  width: 100%;
  height: 70%;
  position: sticky;
  top: 0;
}
.img_selected {
  height: 60%;
  width: 100%;
}

.img_selected img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  animation: toLeft 500ms ease-in;
  cursor: pointer;
}
.img_gallery {
  margin-top: 10px;
  height: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.img_gallery img {
  cursor: pointer;
  display: flex;
  width: 15%;
  height: 15%;
  object-fit: contain;
  border: 0.5px solid #cabebe;
}

/* right */
.info {
  width: 100%;
  min-height: 40%;
  display: flex;
}

.info_product li {
  margin-top: 1rem;
  margin-left: 1.5rem;
}

.boldText {
  font-weight: bold;
  margin: 0;
}

.product_details {
  width: 60%;
  height: 100%;
}

.product_details h1 {
  margin-left: 1rem;
}

.product_details h3 {
  margin-left: 1rem;
  margin-top: 1rem;
}

.info_product {
  height: 100%;
  display: flex;
  flex: 6;
}

.info_product p {
  margin: 0;
}

.guarantee {
  height: 70%;
  display: flex;
  flex: 4;
}

.box {
  width: 17rem;
  height: 8rem;
  border: 0.5px solid #cabebe;
  margin-top: 4rem;
  padding-left: 1rem;
  margin-left: 3rem;
}

.box h3 {
  margin-top: 10px;
}

.box li {
  font-size: 20px;
}
li {
  list-style: none;
}
h1 {
  margin-top: 5rem;
  font-size: 36px;
}

.box li {
  font-size: 18px;
  margin-top: 10px;
  padding-left: 15px;
}

.info_product p {
  height: 70%;
  font-size: 16px;
}

.gift_ {
  margin-block: 2em;
  width: 100%;
  height: 25%;
}

.gift_product {
  width: 90%;
  height: 80%;
  display: flex;
  margin: auto;
  margin-top: 2rem;
  position: relative;
}

.left_,
.right_ {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left_,
.right_ p {
  font-size: 17px;
}

.Or_ {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 44%;
  font-size: 18px;
  font-weight: bold;
}

/* end wrapper */

/* .admin_comments */

.comment {
  width: 100%;
  min-height: 60rem;
}

.admin_comments {
  min-height: 30rem;
  width: 60%;
  margin: auto;
}

.admin_comments h2 {
  margin-top: 2rem;
  font-size: 35px;
}
.first_comment {
  margin-top: 2rem;
}
.first_comment h3 {
  font-size: 20px;
  margin-bottom: 15px;
}
h6 {
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
}

/* .guess_comments */

.guess_comments {
  min-height: 60rem;
  width: 60%;
  margin: auto;
  display: block;
}

.guess_comments h2 {
  margin-top: 2rem;
  font-size: 35px;
}

.textArea:focus {
  opacity: 0.7;
}
.textArea {
  resize: none;
}
button {
  margin-top: 1rem;
  width: 4rem;
  height: 2rem;
  border-radius: 15px;
}

/* .contact_us */
.contact_us {
  background-color: #dcdcdc;
  height: 10%;
  bottom: 0;
  width: min(100%);
  position: fixed;
  display: flex;
  flex-direction: row;
  box-shadow: 12px 8px 24px rgba(0, 0, 0, 0.3);
  z-index: 999 !important;
}

.contact_us img {
  margin-bottom: 1%;
  width: 20%;
  height: 70%;
}

.telephone {
  margin-left: 9rem;
  padding-top: 1.5%;
}

.telephone p {
  opacity: 0.5;
}

.telephone h2 {
  margin-top: 0.5rem;
}

.priceAndBuy {
  margin-top: 1%;
  margin-left: 22rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

.priceAndBuy p {
  font-size: 28px;
  width: 14rem;
  color: rgb(223, 33, 33);
  padding-top: 1.3rem;
  font-weight: bold;
}

.priceAndBuy button {
  border: none;
  cursor: pointer;
}
.heart_icon {
  width: 100%;
  height: 100%;
}

.priceAndBuy img {
  padding-top: 1%;
}

.priceAndBuy button {
  width: 17rem;
  height: 3rem;
  background-color: #06c1d4;
  margin-top: 10px;
  margin-left: 15px;
  color: white;
  font-size: 20px;
  border-radius: 30px;
}

.livechat {
  margin-top: 0.8%;
  margin-left: 18rem;
}

.livechat img {
  width: 100%;
  height: 70%;
  padding-top: 10px;
}

/* .block */

.block {
  width: 80%;
  height: 1px;
  background-color: #dcdcdc;
  margin: auto;
  margin-top: 2rem;
}

.block_ {
  width: 100%;
  height: 1px;
  background-color: #dcdcdc;
  margin-top: 2rem;
}

.block_ {
  width: 100%;
  height: 1px;
  background-color: #dcdcdc;
  margin-top: 1rem;
}

/* .guess_comments */

.guess_comments h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.guess_comments input {
  border-radius: 10px;
  transition: 300ms;
}

.guess_comments input:focus {
  border: 0.2px solid #11dbef;
}

.guess_comments button {
  margin-left: 52rem;
}

.guess_comments button {
  background-color: #11dbef;
  color: white;
}

/* textarea */

textarea {
  border: none;
  margin-left: 1rem;
  border-radius: 30px;
  background-color: #dcdcdc;
  padding-top: 20px;
  padding-left: 10px;
  transition: 100ms;
  font-size: 16px;
}

textarea:focus {
  outline: none;
  border: 1px solid #11dbef;
}

.block1 {
  width: 100%;
  height: 15rem;
}

@keyframes toLeft {
  0% {
    opacity: 0;
    filter: blur(2px);
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0px);
  }
}
