.item_section {
  width: 60%;
  height: auto;
  display: flex;
  margin: auto;
  flex-direction: row;
}

.sort_bar {
  flex: 2;
  background-color: rgb(88, 108, 119);
  height: 50vh;
  position: sticky;
  top: 0;
  border-right: 1.5px solid black;
}

.items {
  flex: 7;
  display: flex;
  flex-direction: flex;
  flex-wrap: wrap;
}
