.laptop {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* all html */

/* all html */

/* nav */

.new_feature {
  width: 80%;
  height: 20%;
  background-color: white;
  border-radius: 30px;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  display: flex;
}

.main_feature {
  width: 70%;
  height: 70%;
  background-color: turquoise;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-left: 2%;
  border: solid 1px rgba(0, 0, 0, 0.5);
}

.feature_content {
  margin-top: 30.9%;
}

.feature_content ul li {
  list-style: none;
  border: 0.3px solid gray;
  width: 25%;
  padding-top: 2%;
  text-align: left;
  padding-left: 1%;
}

.feature_content ul li:hover {
  border-top: 6px solid teal;
}

.feature_content a {
  text-decoration: none;
}

.feature_content ul {
  display: flex;
  height: 5rem;
  text-align: start;
}

.blog_feature {
  width: 25%;
  height: 100%;
  border-radius: 30px;
  margin-left: 2%;
  cursor: pointer;
}

.blog_content {
  width: 100%;
  height: 20%;
  background-color: #f3f5f8;
  margin-bottom: 4%;
  border-top-left-radius: 25px;
  border-top-right-radius: 10px;
  text-align: center;
  padding-top: 10%;
}
.news {
  margin-top: 15%;
  font-size: 20px;
  opacity: 90%;
  color: black;
}
.blog_feature a {
  text-decoration: none;
}
.blog_content:hover {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: teal;

  border-bottom-color: teal;
  border-bottom-width: 5px;
  border-bottom-style: solid;

  font-weight: bold;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
}

/* body */
section {
  width: 80%;
  height: 80%;
  padding-bottom: 10rem;
  display: flex;
  margin: auto;
  margin-bottom: -2rem;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.sort_bar {
  flex: 2;
  background-color: rgb(88, 108, 119);
}
.item h2 {
  font-size: 20px;
}
.items {
  flex: 7;
  display: flex;
  flex-direction: flex;
  flex-wrap: wrap;
  border-left: 3px solid;
}
.item {
  width: 25%;
  height: 25%;
  border: 0.1px solid gray;
  cursor: pointer;
  background-color: white;
}

.items p {
  margin-left: 6%;
}
.items h2 {
  margin-left: 3%;
}

.item:hover {
  transform: scale(1.25);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.4);
  opacity: 100%;
}

.item_image {
  height: 80%;
  width: 80%;
  display: block;
  text-align: center;
  margin-left: 1.5rem;
}
h2 {
  margin-bottom: 0.5rem;
}
p {
  display: inline;
  opacity: 80%;
}
.price {
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.item1 {
  text-align: center;
  width: 100%;
  height: 10%;
  justify-content: center;
  display: flex;
  padding-top: 5%;
}

.item1 button {
  width: 5%;
  height: 40%;
  margin-left: 1%;
  border-width: thin;
  background-color: white;
  border-radius: 50%;
  opacity: 70%;
}

.item1 a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.item1 button:hover {
  background-color: #a1d2f5;
}

/* footer */

.footer {
  margin-top: 25%;
  width: 100%;
  height: 17%;
  background-color: #05042c;
}

.footer_container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.section {
  width: 25%;
  height: 100%;
}

.footer li {
  list-style: none;
  margin-top: 12px;
}
.footer a {
  color: white;
  text-decoration: none;
  opacity: 50%;
  font-size: 16px;
}

.footer h2 {
  margin-top: 25%;
  color: white;
  font-weight: bold;
  opacity: 90%;
  font-size: 20px;
  margin-bottom: 10%;
}

.table_1,
.table_2 {
  display: inline-block;
}
.table_1 {
  margin-right: 7%;
}

.footer_logo {
  text-align: center;
  margin-top: 16%;
}

.footer a:hover {
  color: #06c1d4;
  opacity: 100%;
}
.header {
  align-items: center;
  background-color: red;
}
