.modal_bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s;
  animation: fadeOut 0.3s ease-in-out;
}

.commentArea {
  width: 55rem;
  margin: auto;
  height: auto;
}
.commentArea .title {
  font-size: 2.5rem;
  font-weight: bold;
}
.commentArea .title span {
  font-size: 1.5rem;
  font-weight: normal;
}
.commentArea .yourComment {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
}
.cmtContainer {
  margin-top: 1rem;
  width: 100%;
  height: 8rem;
}

.cmtContainer textarea {
  height: calc(100% - 34px);
  padding: 16px;
  width: calc(100% - 34px);
  resize: none;
  font-size: 1.3rem;
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
}
.cmtContainer textarea:hover {
  border: 1px solid #06c1d4;
}
.cmtContainer textarea:focus {
  outline: none;
  border: 1px solid #06c1d4;
}
.userCommentedContainer {
  width: 100%;
  margin-top: 1rem;
  height: auto;
  display: flex;
}
.userImg {
  width: 12%;
  height: auto;
  display: flex;
  justify-content: flex-start;
}
.userImg img {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid rgb(182, 182, 182);
}
.commentOutsideWrapper {
  margin: 4rem 0 0rem 0;
  width: 100%;
  height: auto;
}
.commentedContainer {
  width: 88%;
  height: auto;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgb(95, 95, 95);
}
.userName {
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
}
.userCommentContent {
  word-break: break-all;
  text-align: justify;
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin-bottom: 5px;
}
.timeStampAndDelCmt {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.timeStamp {
  font-size: 15px;
}
.deleteCmt {
  margin-left: 3rem;
  font-size: 15px;
  cursor: pointer;
  color: red;
}
.deleteCmt:hover {
  text-decoration: underline;
}
.watchMoreCmt {
  display: flex;
  width: auto;
  max-width: 25%;
  margin-top: 3rem;
  line-height: 2rem;
  cursor: pointer;
  font-size: 1.2rem;
}
.watchMoreCmt:hover {
  text-decoration: underline;
}
/* userInfo._id === eachComment.user._id */
