.scrollContainer {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  bottom: 10%;
  right: 5%;
  z-index: 99999 !important;
  background-color: red;
  color: white;
  cursor: pointer;
  animation: fadeOut 1s ease;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
