.item h2 {
  font-size: 20px;
}

.item {
  margin-top: 1rem;
  width: 15rem;
  height: 20rem;
  border: 0.000001px solid rgba(212, 205, 205, 0.712);
  cursor: pointer;
  display: inline-block;
  background-color: white;
  position: relative;
}

.item:hover {
  box-shadow: 0px 8px 24px rgba(58, 58, 58, 0.4);
}

.item_image {
  height: 70%;
  width: 100%;
  text-align: center;
  object-fit: contain;
}
h2 {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
p {
  display: inline;
  opacity: 80%;
  margin-left: 1rem;
}
.price {
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.item_image img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  padding-top: 2rem;
  margin-bottom: 1rem;
}

.item .tooltiptext {
  visibility: hidden;
  width: 20rem;
  min-height: 20rem;
  border: 0.5px solid rgb(70, 70, 70);
  background-color: #fff;
  color: rgb(70, 70, 70);
  z-index: 999;
  border-radius: 12px;
  position: absolute;
  bottom: 30%;
  left: 20%;
  opacity: 0;
  transition: opacity 0.5s;
}

.item:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltiptext ul {
  padding: 0;
}

.tooltiptext ul li p {
  font-size: 14.4px;
  margin-bottom: 10px;
}

.name_P {
  padding-top: 10px;
  width: 100%;
  height: 3rem;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.name_P p {
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.details_span {
  display: flex;
  width: 70%;
  height: 1.6rem;
  border: 1px solid rgb(179, 179, 179);
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.details_span img {
  width: 15%;
  height: 60%;
}

.details_span p {
  color: black;
}

/* gift */
.gift_Info_ {
  width: 100%;
  height: 11em;
  display: flex;
  position: relative;
}

.gift_Info_ p {
  font-size: 13px;
}

.gift_Info_ img {
  width: 100%;
  height: 55%;
}

.left_gift_layout {
  width: 50%;
  height: 100%;
}

.right_gift_layout {
  width: 50%;
  height: 100%;
}

.Choices_1 {
  position: absolute;
  top: 50%;
  left: 38%;
  font-weight: bold;
}

@media (max-width: 1076px) {
  .item:hover .tooltiptext {
    visibility: hidden;
  }
}
