.itemImgs {
  height: calc(18rem - 2px);
  width: calc(25% - 2px);
  border: 1px solid rgb(177, 172, 172);
  transition: 300ms ease;
  background-color: white;
}
.itemImgs:hover {
  transform: scale(1.1);
  z-index: 999 !important;
}

.outerWrapper {
  width: 92%;
  height: 92%;
  margin: auto;
  margin-top: 4%;
}
.imgArea {
  width: 100%;
  height: 75%;
}
.imgArea img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.contentArea {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
}
.itemName {
  width: 100%;
  height: 40%;
  text-overflow: ellipsis;
  overflow: hidden !important;
  white-space: nowrap;
  font-size: 1.3rem;
  font-weight: 550;
}
.itemPrice {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}
.priceText {
  font-size: 1.1rem;
  font-weight: 550;
}
.priceInNumber {
  font-size: 1.1rem;
  color: red;
  margin-left: 20px;
}
.currencyMark {
  color: red;
  font-size: 1.3rem;
}
a {
  color: black;
}

/* responsive */
@media screen and (max-width: 950px) {
  .itemImgs {
    width: 33%;
  }
}
@media screen and (max-width: 870px) {
  .itemImgs {
    width: calc(50% - 4px);
  }
}
@media screen and (max-width: 650px) {
  .itemImgs {
    width: 100%;
  }
}
