.footer {
  margin-top: 10rem;
  width: 100%;
  height: 20rem;
  background-color: #06c1d4;
  opacity: 2;
}
.footer_container {
  width: 90%;
  display: flex;
  margin-left: 10%;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.section {
  width: 33%;
  height: 100%;
}

.footer li {
  list-style: none;
}

.footer h2 {
  margin-top: 4rem;
  color: red;
  font-weight: bold;
  opacity: 90%;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.footer_logo {
  margin-top: 30px;
  text-align: center;
  height: 80%;
  width: 80%;
  object-fit: contain;
}

.devMember {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 2.5rem;
}
.section li div {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 2rem;
}
.section li div span {
  color: red;
}
