.header {
  height: 6rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.625rem;
  background-color: rgb(243 243 243);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  margin-inline: auto;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.wrapper {
  width: 90%;
  margin-left: 10%;
}
nav ul {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.nav_container {
  width: 100%;
}
.nav_items {
  margin-left: 20%;
  margin-right: 10%;
}

.boldText_ {
  font-size: var(--text-font-size);
}
nav ul li {
  margin-left: 11%;
  font-size: 1.4rem;
  opacity: 0.7;
}
.logo img {
  width: 70%;
}

.nav_items {
  list-style: none;
}

.search_btn {
  padding-top: 0.7%;
  position: absolute;
  left: 94.1%;
  right: 2.64%;
  top: 2.5%;
  bottom: 93.26%;
  width: 2%;
}

/* dropdown */

.Account {
  position: relative;
}
.Acc_Icon {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  padding: 0;
  margin-top: 15px;
  border-radius: 50%;
}

.dropdown_content {
  display: block;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1199 !important;
  font-size: 16px;
}

.dropdown_content img {
  height: 100%;
  margin-inline-start: 1rem;
}

.Acc_Image {
  width: 100%;
  object-fit: contain;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.logoCPT {
  cursor: pointer;
}

.icon {
  margin-top: 0;
  width: 20%;
  height: 50%;
}

.Acc_Icon1 {
  margin-top: 10px;
  width: 35%;
  height: 35%;
}

/* animation */

.Content_of_DropDown_Content1,
.Content_of_DropDown_Content2,
.Content_of_DropDown_Content3 {
  background-color: white;
  padding-block: 15px;
  display: flex;
  width: 16rem;
  height: 3rem;
  cursor: pointer;
}

.Content_of_DropDown_Content1 {
  animation: fromRightToLeft 400ms ease;
}
.Content_of_DropDown_Content2 {
  animation: fromRightToLeft 500ms ease;
  animation-delay: 100ms;
}
.Content_of_DropDown_Content3 {
  animation: fromRightToLeft 600ms ease;
  animation-delay: 100ms;
}
.textInDDC {
  color: black;
  padding-left: 10px;
}

/* animation for header */

.logo {
  animation: fromTopToBottom 300ms ease-in;
}

.nav_items li:nth-child(1) {
  animation: fromTopToBottom 400ms ease-in;
  animation-delay: 200ms;
}
.nav_items li:nth-child(2) {
  animation: fromTopToBottom 500ms ease-in;
  animation-delay: 300ms;
}
.nav_items li:nth-child(3) {
  animation: fromTopToBottom 600ms ease-in;
  animation-delay: 400ms;
}
.nav_items li:nth-child(4) {
  animation: fromTopToBottom 700ms ease-in;
  animation-delay: 500ms;
}
.nav_items li:nth-child(5) {
  animation: fromTopToBottom 800ms ease-in;
  animation-delay: 600ms;
}

@keyframes fromRightToLeft {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fromTopToBottom {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
